* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header ul {
    display: flex;
    list-style-type: none;
    gap: 16px;
}